.container_dashboard {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.container_dashboard section {
  width: 80%;
  margin: 0 auto;
}

.container_url_view {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  background-color: white;
  margin: 1rem;
  padding: 0.5rem;
}

.subcontainer_favicon {
  flex-basis: 0;
  padding: 0.25rem;
}

.subcontainer_favicon img {
  border: 1px solid rgb(175, 175, 175);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 50%;
  height: 1.75rem;
  width: 1.75rem;
}

.subcontainer_url_info {
  flex-grow: 3;
  padding: 1rem;
overflow-wrap: break-word;}

.subcontainer_url_info * {
  margin-bottom: 0.75rem;
}

#slug {
  color: darkcyan;
}

#url {
  font-style: italic;
}

.subcontainer_edit {
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  padding: 0.25rem;
}

.subcontainer_edit button {
  background-color: white;
  border-radius: 50%;
  border: 1px solid rgb(175, 175, 175);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  width: 1.75rem;
  height: 1.75rem;
  margin-bottom: 0.75rem;
}

.subcontainer_edit button:active {
  box-shadow: none;
}

.copy_feedback {
  position: fixed;
  background-color: white;
  color: black;
  z-index: 998;
  top: 1rem;
  right: 1rem;
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  animation: slideIn 0.5s ease-in-out forwards;
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* modal styling */

.overlay {
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal_delete {
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  z-index: 1000;
  border-radius: 10px;
  width: fit-content;
  padding: 2rem;
}

.modal_delete::backdrop {
  background-color: rgba(128, 128, 128, 0.49);
  opacity: 0.5;
}

.modal_delete_content p {
  margin-bottom: 1rem;
}

.button_section {
  display: flex;
  justify-content: space-between;
}

.button_section button {
  background-color: black;
  border: none;
  color: white;
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: ease-in-out;
}

.button_section button:active {
  box-shadow: none;
}
